<div ng-class="{'is-editing': $ctrl.isEditing}">
    <span ng-if="!$ctrl.isEditing" class="text" ng-click="$ctrl.beginEdit($event)">{{$ctrl.value ? $ctrl.value : "-" }}</span>
    <input placeholder="{{$ctrl.value}}"
           ng-if="$ctrl.isEditing" type="text" ng-blur="$ctrl.onBlur($event)"
           ng-model="$ctrl.editingValue"
           ng-keydown="$ctrl.keydown($event)">
</div>
<div ng-if="$ctrl.showTooltip && $ctrl.valueType !== 'remark'" class="tooltip ng-isolate-scope top fade in" style="top: -46px; left: -70px; right: -70px">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner" ng-bind="$ctrl.toolTipText"></div>
</div>