body{
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-right: 0px!important;
}

.tabs-view {
    margin-top: 2px;
}

.tabs-view .nav-tabs{
    border:none;
}

.tabs-view ul.nav-tabs>li.uib-tab a{
    font-size: 14px;
    background:#232629;
    width:105px;
    height:32px;
    line-height: 32px;
    padding: 0px;
    text-align: center;
    border-radius: 2px;
    border:none;
    color: #7b8082;
}

.tabs-view ul.nav-tabs>li.uib-tab.active a{
    background: #0d7b7b;
    cursor: pointer;
    color: #ffebc8;
}

.tabs-view ul.nav-tabs>li.uib-tab a:focus,.tabs-view ul.nav-tabs>li.uib-tab a:active{
    background: #0d7b7b;
}

.filter-view{
    background-color: #161819;
}

.filter-view .option {
    border-radius: 2px;
    color: #ffebc8;
    font-size: 14px;
}
.filter-type:before{
    background-color: #7b8082;
    content: none;
}
.filter-view .option.selected {
    background: #f38b1e;
    color: #000000;
}
.filter-view .filter-list{
    padding:3px 0;
}
.filter-type{
    color: #7b8082;
    margin-left: 10px;
}

.table-view a.btn {
    background:#1b1d1e;
    border:1px solid #0d7b7b;
    width:80px;
    height:30px;
    font-size: 14px;
    border-radius: 2px;
    color: #7b8082;
    text-align: center;
    line-height: 30px;
    padding: 0;
}

.table-view a.btn:hover,
.table-view a.btn:active,
.table-view a.btn:focus,
.table-view a.btn.active{
    border:1px solid #0d7b7b;
    background-color: #0d7b7b;
    color: #ffebc8;
}

.checkbox-group.inline .checkbox-inline{
    line-height: 26px;
    color: #ffebc8;
}
.checkbox-group.inline .checkbox-inline button.btn.btn-primary{
    background:#0d7b7b;
    border-radius:2px;
    width:70px;
    height:24px;
    font-size: 14px;
    color: #ffebc8;
}
.checkbox-group.inline .checkbox-inline .btn-primary:visited,
.checkbox-group.inline .checkbox-inline .btn-primary.visited,
.checkbox-group.inline .checkbox-inline .btn-primary:focus,
.checkbox-group.inline .checkbox-inline .btn-primary:hover,
.checkbox-group.inline .checkbox-inline .btn-primary:active,
.checkbox-group.inline .checkbox-inline .btn-primary.active{
    border:0px;
    outline:none;
}
.checkbox-group.inline .checkbox-inline+.checkbox-inline{
    margin: 0;
    padding-left: 10px;
}

.ui-grid .ui-grid-top-panel .ui-grid-header-cell .ui-grid-cell-contents span{
    font-size:14px;
    color:#7b8082;
    text-align:left;
}

[matrix-table]{
    border:2px solid #1a4444;
    height:auto;
    margin-bottom: 20px;
}

[matrix-table] table{
    margin-top: 0;
    background:#212121;
    border:1px solid #000;
    border-collapse: collapse;
    margin-bottom: 0;
}

[matrix-table] table tr{
    background: #212121;
}

[matrix-table] table tr>td{
    border:1px solid #000;
    color: #f9c66e;
    width:11.1%;
    height:24px;
}

[matrix-table] table tr>td:hover{
    color: #e8ac6b;
}

[matrix-table] table tr:nth-of-type(even),[matrix-table] table tr:nth-of-type(odd){
    background: #212121;
}

[matrix-table] tbody>tr:nth-of-type(1)>td,[matrix-table] table tbody>tr.shiborstyle>td{
    background: #1f3834;
    color: #FFEBC8;
    cursor: auto;
}

.table-striped>tbody>tr>td:nth-of-type(1){
    background: #1f3834;
    color: #ffebc8;
    cursor: auto;
}
.table-striped>tbody>tr>td:nth-of-type(1):hover,
[matrix-table] tbody>tr:nth-of-type(1)>td:hover,
[matrix-table] table tbody>tr.shiborstyle>td{
    background: #1f3834;
    color: #ffebc8;
}

[matrix-table] tbody>tr:nth-of-type(1)>td:nth-of-type(1){
    cursor: pointer;
}

[matrix-table] tbody>tr:nth-of-type(1)>td:nth-of-type(1):hover{
    cursor: pointer;
}

[matrix-table] tbody>tr:nth-of-type(1)>td.selected:nth-of-type(1):hover{
    cursor: pointer;
    background: #fb8d02;
}

.table-striped>tbody>tr>td.selected{
    background: #FB8D02;
    border-radius: 0;
    color: #000;
}

.table-striped>tbody>tr:nth-of-type(1)>td:nth-of-type(1){
    color: #fb8d02;
}

.table-striped>tbody>tr:nth-of-type(1)>td.selected:nth-of-type(1){
    color: #000;
}

[matrix-table] table tr td:hover {
    border-radius: 0px;
    background: #1a726a;
    color: #e8ac6b;
}

.ui-grid .ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #232628;
}

.ui-grid .ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #191b1c;
}

.ui-grid .ui-grid-row:hover .ui-grid-cell{
    background-color: #1d4243;
}

.ui-grid .ui-grid-cell .dropdown-menu{
    background-color: #2c2f31;
}

.ui-grid .ui-grid-cell .dropdown-menu a{
    color: #ffebc8;
}

.ui-grid .ui-grid-cell .dropdown-menu li:hover{
    background-color: #0d7b7b;
}

.ui-grid-cell-contents,
.ui-grid-cell-contents span{
    font-size: 14px;
    color: #ffebc8;
}

.ui-grid .ui-grid-row .ui-grid-cell {
    line-height: normal;
}

.ui-grid .ui-grid-cell-contents.cell-user-list span.dropdown-toggle:before,
.ui-grid .ui-grid-cell-contents.cell-contact span.dropdown-toggle:before{
    color:#00A47C;
}
.btn-primary.mif-more-vert:visited,
.btn-primary.mif-more-vert:hover,
.btn-primary.mif-more-vert:active,
.open>.dropdown-toggle.btn-primary,
.btn-primary.mif-more-vert{
    border:2px #00A47C solid!important;
    padding: 7px!important;
}

.operation-line button.btn-primary.btn{
    width:70px;
    height: 24px;
    padding:0;
    font-size: 12px;
    background-color: #0f898a;
}

.search-group input[type=search]{
    padding-left: 35px;
    background:#3b4145;
    border-radius:2px;
    width:201px;
    height:30px;
}

.search-group input::-webkit-input-placeholder{
    color:#969696;
    font-size: 13px;
}

.search-group div.inline-block{
    position: relative;
}

.search-group .searchicon{
    font-size: 16px;
    color: #d8d8d8;
    position: absolute;
    left:7px;
    top:8px;
}

.ui-grid-cell-contents .QQname{
    color: #ffebc8;
}

.ui-grid-cell-contents .badge{
    color: #fff;
    font-size: 13px;
}

.ui-grid-cell-contents .badge.IN{
    background: #cf7000;
}

.ui-grid-cell-contents .badge.OUT{
    background: #0064d6;
}

.icheckbox_minimal-aero,
.iradio_minimal-aero {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(../img/change.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_minimal-aero {
    background-position: 0 0;
}
.icheckbox_minimal-aero.hover {
    background-position: -20px 0;
}
.icheckbox_minimal-aero.checked {
    background-position: -40px 0;
}
.icheckbox_minimal-aero.disabled {
    background-position: -60px 0;
    cursor: default;
}
.icheckbox_minimal-aero.checked.disabled {
    background-position: -80px 0;
}

.close.closeperiod{
    float: none;
    vertical-align: baseline;
}

.search-group .close.searchclose{
    position: absolute;
    right:20px;
    top:5px;
    color: #d8d8d8;
    opacity:1;
}

.ui-grid .ui-grid-row .ui-grid-cell .ui-grid-cell-contents.cell-contact,
.ui-grid .ui-grid-row .ui-grid-cell .ui-grid-cell-contents.cell-user-list{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-grid .ui-grid-row .ui-grid-cell .ui-grid-cell-contents.cell-user-list.show,
.ui-grid .ui-grid-row .ui-grid-cell .ui-grid-cell-contents.cell-contact.show{
    overflow: visible;
}

div.contactmodel{
    top:150px;
}

.modal-header,
.alliance_add_quote .modal-header{
    background: #0d7b7b;
    color: #ffebc8;
}

.modal-body{
    background-color: #161819;
}

.alliance_add_quote .modal-body{
    background-color: #232628;
    border:none;
}
.alliance-offer-management .type-list{
    background-color: #161819;
}
.alliance-offer-management .content-body{
    background-color: #232628;
}

.nav-tabs li a{
    background: #33383c;
    color: #ffebc8;
    font-size: 14px;
}

.offer-management .type-list ul > li.active > a,
.alliance-offer-management .type-list ul > li.active > a{
    background: #0d7b7b;
    color: #ffebc8;
    border-bottom: 1px solid #0d7b7b;
}

.alliance-offer-management .type-list ul > li > a{
    background: #33383c;
    color: #9ba1b3;
    border-bottom: 1px solid #0d7b7b;
}

.offer-management .type-list .nav-tabs,
.alliance-offer-management .type-list .nav-tabs{
    border-bottom: 2px solid #0d7b7b;
    margin: 0;
}

.offer-management .board-item table td,
.alliance-offer-management .board-item table td {
    color: #ffebc8;
}

.offer-management .board-item table .expired_date_value_label{
    color: #ffebc8;
}

.offer-management .warning,
.alliance-offer-management .warning{
    color: #ff900d;
    font-size: 12px;
    display: block;
    margin: 10px 0px;
}

.offer-management .board-item a,
.alliance-offer-management .board-item a{
    color: #c3bdb0;
}

.offer-management .board-item .board-header,
.alliance-offer-management .board-item .board-header{
    background-color: #1d595b;
}

.offer-management .board-item table,
.alliance-offer-management .board-item,
.alliance-offer-management .board-item .table{
    background-color: #232628;
    border:none;
}

.offer-management .button-group-add-board button{
    background-color: #f38b1e;
    color: #1b1b1b;
}

.offer-management .board-item table tr td,
.alliance-offer-management .board-item .table tr td,
.alliance-offer-management .board-item .table thead tr th{
    border-color: #232628;
    background-color: #232628;
}

.alliance-offer-management .board-item .table thead tr th{
    height: 41px;
    color: #9ba1b3;

}

.alliance-offer-management .button-group-add-board button{
    background-color: #f38b1e;
    color: #1b1b1b;
}

.button-group.modal-botton{
    text-align: center;
    margin: 30px 0px 15px 0px;
}

.offer-management .board-item table td.editable,
.offer-management .board-item table td.editable-input,
.offer-management .board-item table td.space,
.alliance-offer-management .board-item table td.editable,
.alliance-offer-management .board-item table td.editable-input,
.alliance-offer-management .board-item table td.space,
.alliance-offer-management .board-item table td.table_board_tag{
    color: #ffebc8;
    background-color: #3b4145;
    padding: 0px;
    vertical-align: middle;
}

.offer-management .board-item table td.editable:hover,
.offer-management .board-item table td.editable-input:hover,
.offer-management .board-item table td.space:hover,
.alliance-offer-management .board-item table td.editable:hover,
.alliance-offer-management .board-item table td.editable-input:hover,
.alliance-offer-management .board-item table td.space:hover,
.alliance-offer-management .board-item table td.table_board_tag:hover{
    color: #ffebc8;
    background-color: #2b2e2f;
}

.offer-management .board-item table input[type=text],
.alliance-offer-management .board-item table input[type=text]{
    color: #fff3dd;
    background-color: #161819;
    border:1px solid #0d7b7b;
    height:28px;
}

.offer-management .board-item table input[type=text].expired_date{
    background-color: #3b4145;
    border:none;
}

.offer-management .board-item table input[type=text].expired_date:focus{
    background-color: #161819;
    border:1px solid #0d7b7b;
    outline: none;
}

.offer-management .board-item table td.editable,
.offer-management .board-item table td editable-input{
    width:110px;
}

editable-input span,
.editable .text{
    min-width: 78px;
}

.offer-management button.btn-primary,
.alliance-offer-management button.btn-primary,
.modal-dialog button.btn-primary{
    color: #000;
    background-color: #51aba0;
    border-radius: 3px;
}
.offer-management button.btn-primary,
.offer-management button.btn-primary:hover,
.offer-management button.btn-primary:focus,
.offer-management button.btn-primary:active,
.alliance-offer-management .button-group.modal-botton button.btn-primary,
.alliance-offer-management .button-group.modal-botton button.btn-primary:hover,
.alliance-offer-management .button-group.modal-botton button.btn-primary:focus,
.alliance-offer-management .button-group.modal-botton button.btn-primary:active,
.modal-dialog button.btn-primary,
.modal-dialog button.btn-primary:hover,
.modal-dialog button.btn-primary:focus,
.modal-dialog button.btn-primary:active{
    color: #ffebc8;
    background-color: #0d7b7b;
}
.offer-management .type-list ul > li.active > a,
.offer-management .type-list ul > li > a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
    border:none;
    border-bottom: 1px solid #0d7b7b;
    color: #ffebc8;
}

.offer-management .board-item table .dropdown-menu,
.alliance-offer-management .board-item table .dropdown-menu{
    background-color: #232628;
    max-height: 140px;
    overflow: auto;
}

.offer-management .board-item table .dropdown-menu a,
.alliance-offer-management .board-item table .dropdown-menu a{
    color: #FFEBC8;
}

.offer-management .board-item table .dropdown-menu>li>a:focus,
.offer-management .board-item table .dropdown-menu>li>a:hover,
.alliance-offer-management .board-item table .dropdown-menu>li>a:focus,
.alliance-offer-management .board-item table .dropdown-menu>li>a:hover{
    background-color: #045a60;
}

.offer-management .board-item table td .add:hover,
.alliance-offer-management .board-item table td .add:hover{
    background-color: #045a60;
}

.contact-modal .content-body .contact-item .col-sm-6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alliance_add_sp_priod input[type=text]{
    line-height:2rem;
    background-color: #3b4145;
    color: #969696;
}

.alliance_add_sp_priod input[type=text]::-webkit-input-placeholder{
    color: #969696;
}

.ui-grid .ui-grid-cell-contents.cell-user-list span.dropdown-toggle:before,
.ui-grid .ui-grid-cell-contents.cell-contact span.dropdown-toggle:before{
    left:10px;
}

.copyqqsuccess{
    position: absolute;
    top:400px;
    padding: 10px 20px;
    color: #F9C66E;
    background: #017573;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, 50px);
    cursor: pointer;
}

.query_alliance_quote .board-item .table tbody tr td:nth-child(2) div.dropdown,
.query_alliance_quote .board-item .table thead tr th:nth-child(3){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offer-management .content-body{
    margin: 0px;
    overflow: scroll;
    padding-right: 10px;
    max-height: 300px;
}

.offer-confirm-modal .modal-body .content-body{
    overflow: scroll;
    max-height: 400px;
}

.offer-confirm-modal .modal-body .content-body .table-responsive{
    overflow: visible;
}

.offer-confirm-modal .modal-body .content-body::-webkit-scrollbar-thumb{
    background: #1A4444;
}

.query_alliance_quote .board-item{
    max-height: 300px;
}

.query_alliance_quote .board-item .table tbody tr td:nth-child(2) div.dropdown.show,
.query_alliance_quote .board-item .table thead tr th:nth-child(3){
    overflow: visible;
}

.query_alliance_quote .board-item .table thead tr th:nth-child(2),
.query_alliance_quote .board-item .table tbody tr td:nth-child(2){
    min-width: 9rem;
}

button.badge{
    text-align: center;
    /*padding: 0;*/
    color: #fff;
    /*height:20px;*/
    /*border-radius: 2px!important;*/
}

button.badge.IN{
    background-color: #d57d2c!important;
    color: #fff!important;
}

button.badge.OUT{
    background-color: #285cb4!important;
    color: #fff!important;
}

.alliance-offer-management .board-item{
    max-height: 300px;
    padding: 0 10px;
}

.alliance_add_quote ul{
    max-height:400px;
}

.allianceorg{
    color: #ffebc8;
    font-size: 14px;
    margin-right: 20px;
}

html{
    font-size: 12px!important;
}

.dropdown .alliancecontact.dropdown-toggle{
    vertical-align: middle;
    height: 0;
    float: none;
    padding: 8px;
    -ms-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    border-width: 2px;
}

.dropdown .alliancecontact.dropdown-toggle:before{
    color: #007879;
    font-size: 18px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    border: none;
    top: -2.5px;
    left: 70%;
}

.query_alliance_quote .alliance_contacts ul>li{
    white-space: nowrap;
}

.modal-open .modal{
    overflow-y: hidden;
}

.offer-management .board-item table tr td .editable .text,
.offer-management .board-item table tr td editable-input span {
    -moz-min-width: 85px;
    -ms-min-width: 85px;
    -o-min-width: 85px;
    -webkit-min-width: 85px;
    min-width: 85px;
}

.offer-management .board-item table tr:nth-of-type(2) td{
    color: #eccb90;
}

.offer-management .board-item table tr td:nth-of-type(1){
    min-width: 56px;
    white-space: nowrap;
    color: #9ba1b3;
}

.qm-logo{
    -webkit-filter: grayscale(0);
    transform: scale(1);
}

.query_alliance_quote .modal-body .board-item .table>tbody>tr>td{
    padding: 4px!important;
}

.table-popover,
.table-popover .popover-inner,
.table-popover .popover-inner table{
    background: #203e3e;
    max-width:500px;
}

.table-popover{
    border-radius: 0px;
}

.table-popover:before{
    display: none;
}

.table-popover .arrow{
    display: none;
}

.table-popover.in.popover{
    border: 1px solid #365050;
    opacity:1;
    padding: 0px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.table-popover .popover-inner table td{
    padding:0px 5px;
    min-width: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffebc8;
}

.triangle-topright {
    width: 0;
    height: 0;
    position: absolute;
    left:0px;
    border-top: 8px solid #f2900a;
    border-right: 8px solid transparent;
}

.offer-confirm-modal .table tr > td.offer-confirm-modal-remark.ellipsis{
    max-width: 500px;
}
.ui-grid .ui-grid-row .ui-grid-cell .ui-grid-cell-contents.ellipsis{
    position: relative;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loading{
    left:0;
    top:0;
}

.first-filter{
    background:#eddece;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.50);
    width:250px;
    height:30px;
    font-family:MicrosoftYaHei;
    font-size:14px;
    color:#000000;
    line-height:30px;
    padding:0 10px;
    text-align:left;
    position: absolute;
    left:0px;
    top:0px;
    border-radius: 2px;
}

.first-filter b {
    color: #CF7000;
}

.first-filter span {
    line-height: 30px;
    background: #3a3828;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    padding: 0 3px;
    width: 12px;
    height: 12px;
}

/*******************************1.2.0.2**********************************************/
.dropdown-menu{
    background-color: #2c2f31;
    color: #ffebc8;
}
.dropdown-menu.search-result li a{
    color: #ffebc8;
    white-space: nowrap;
}
.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover{
    color: #ffebc8;
    background-color: #0d7b7b;
}

.ui-grid .ui-grid-canvas .ui-grid-row .ui-grid-cell.warning{
    background-color: #f38b1e;
}

.ui-grid-header-cell-label{
    font-weight: normal;
}

.ui-grid .ui-grid-header{
    border-bottom: none;
}

.ui-grid-header-cell-row{
    background-color: #191b1c;
}

.operation-line{
    padding-top: 5px;
}

.ui-grid{
    position: fixed;
    bottom: 0px;
    top: 225px;
    left:0;
    right:0;
}

.ui-grid-cell-contents-firstcol{
    padding-left: 20px;
}

.addtags{
    font-size: 16px;
    vertical-align: middle;
}

.tags-number{
    width:18px;
    height:18px;
    border-radius: 50%;
    background-color: #0d7b7b;
    margin: 0 auto;
    text-align: center;
    line-height: 18px;
}

.alliance_add_tags.tooltip.in,
.alliance_add_tags .tooltip-inner{
    background-color: #232628;
    opacity:1;
    padding: 0;
}

.alliance_add_tags ul li label.input-control.checkbox .check,
.alliance_add_quote ul li label.input-control.checkbox .check{
    border:2px solid #0d7b7b;
}

.input-control.checkbox input[type=radio]:checked ~ .check:before,
.input-control.checkbox input[type=checkbox]:checked ~ .check:before,
.input-control.radio input[type=radio]:checked ~ .check:before,
.input-control.radio input[type=checkbox]:checked ~ .check:before{
    border-color: #0d7b7b;
    border-width:2px;
}

.alliance_add_tags .tooltip-arrow{
    display: none;
}

.close{
    color: #fff1da;
    opacity:1;
}

.alliance_add_sp_priod .row .input_daysUnit .caption.active{
    background-color: #2aa25d;
    color: #ffebc8;
}

.alliance_add_sp_priod .row .input_daysUnit .caption{
    color: #ffebc8;
    background-color: #3b4145;
}

.offer-management .board-item table td.table_board_direction button.tag-button{
    background-color: #3b4145;
    width:auto;
    color: #ffebc8;
    outline:none;
}

.offer-management .board-item table td.table_board_direction button.tag-button.IN{
    background-color: #0d7b7b;
    color: #ffebc8;
}

.offer-management .board-item a.show-number{
    color: #43adff;
}

.alliance_add_quote input[type=text]{
    background: #3b4145;
    color: #969696;
}

.alliance_add_quote input[type=text]::-webkit-input-placeholder{
    color: #969696;
}

.mif-search:before{
    color: #d8d8d8;
    font-size: 16px;
}

.badge.info{
    background-color: #285cb4;
}

.badge.warning{
    background-color: #d57d2c;
}

/*********************************市场分析页面******************************************/
.market-body{
    color: #ffebc8;
    background-color: #232628;
    padding: 20px;
    font-size: 14px;
    font-family: '微软雅黑';
    padding-right: 20px!important;
}

.market-tabs ul{
    overflow: hidden;
    padding-left: 0;
    border-bottom: 2px solid #0d7b7b;
}

.market-tabs ul li{
    height: 24px;
    list-style: none;
    float: left;
    padding: 2px 12px;
    background-color: #33383c;
    margin-right: 2px;
    color: #9ba1a3;
    border-radius: 2px;
}

.market-tabs ul li.active{
    background-color: #0d7b7b;
    color: #ffebc8;
}

.market-filter-list{
    margin-right: 30px;
    height: 24px;
    line-height: 24px;
}

.market-filter-type{
    color: #7b8082;
}

.market-filter-options{
    color: #FFEBC8;
    padding: 0px 12px;
    border-radius: 2px;
}

.market-filter-options.selected{
    background-color: #f38b1e;
    color: #1b1b1b;
}

.market-matrix{
    background-color: #333739;
    padding: 2px;
}

.market-matrix table{
    width: 100%;
    border: 1px solid #232628;
    background-color: #333739;
}

.market-matrix table tr,
.market-matrix table th,
.market-matrix table td{
    text-align: center;
    height: 28px;
    line-height: 28px;
}

.market-matrix table th,
.market-matrix table td{
    border: 1px solid #232628;
    width: 100px;
    font-weight: normal;
}

.market-matrix table td{
    cursor: pointer;
    white-space: nowrap;
}

.market-matrix table td:hover{
    background-color: #0D7B7B;
}

.market-matrix table tr:nth-of-type(1),
.market-matrix table td:nth-of-type(1){
    background-color: #1A4546;
    cursor: auto;
}

.market-matrix table td:nth-of-type(1):hover{
    background-color: #1A4546;
    color: #FFEBC8;
}

.market-matrix table th:nth-of-type(1),
.market-matrix table td:nth-of-type(1){
    width: 200px;
    white-space: nowrap;
}

.market-matrix table td.selected{
    background-color: #f38b1e;
    color: #1b1b1b;
}

.market-matrix table td.matrix-data{
    width: 100px;
}

.market-filter-view{
    margin-bottom: 10px;
}

.market-body .pointer{
    cursor: pointer;
}

.market-charts{
    width: 100%;
    position: fixed;
    left:0;
    top:370px;
    bottom:20px;
    right:0;
}

.market-title{
    margin-top: 10px;
}

.market-charts-title{
    font-size:14px;
    color:#f9c66e;
    text-align:left;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}

.market-loading .spinner {
    position: absolute;
    top: 25%;
    margin-top: -25px;
    margin-left: -25px;
    left: 50%;
    animation: rotateit 1.2s linear infinite;
}
@keyframes rotateit {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.addQuoteModal{
    width:400px;
}

.alliance_add_quote ul li label .caption_right{
    width:70px;
    text-align: center;
    color: #ffda9a;
    font-size: 14px;
    white-space: nowrap;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 10px;
}

.alliance_add_quote ul li label .caption_right.caption_middle{
    width: 50px;
    font-size: 12px;
    margin-left: 30px;
    color: #f9c66e;
    text-align: left;
    cursor: auto;
}

.alliance_add_quote ul.add_quote li label{
    display: block;
}

.alliance_add_quote .button-group.btn-contact{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.alliance_add_quote .btn-group-out.btn-contact{
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.alliance_add_quote .btn-contact .dropdown-contact{
    display: inline-block;
    padding: 0;
}

.alliance_add_quote .btn-contact .dropdown-contact:before{
    display: none;
}

.alliance_add_quote .btn-contact .dropdown-contact button{
    outline: none;
    border: none;
}

.alliance_add_quote .btn-contact .dropdown-contact button:visited,
.alliance_add_quote .btn-contact .dropdown-contact button:hover,
.alliance_add_quote .btn-contact .dropdown-contact button:active{
    outline: none;
    border: none;
}

.alliance_add_quote .btn-contact .btn-drop-right{
    margin-left: -6px;
}

.alliance_add_quote .btn-contact .dropdown-menu{
    overflow-x: hidden;
}

.alliance_add_quote .btn-contact button.btn-drop-left{
    width: 80px;
    color: #ffebc8;
    font-size: 14px;
    text-align: left;
    background-color: #3b4145;
}

.alliance_add_quote .btn-contact li{
    width: 110px;
}

.alliance_add_quote .btn-contact li a{
    padding: 3px 0px;
}

.alliance_add_quote .btn-contact li a:hover{
    background-color: transparent;
}

.alliance_add_quote .btn-primary.btn-confirm{
    margin-right: 20px;
}

.glyphicon-earphone.inactive:before{
    color: #555;
}

.qm-logo{
    padding-left: 3px;
}
.smbootbox{
    width:200px;
}

.smbootbox .content-body{
    padding: 10px 15px;
}

.no-pointer{
    cursor: auto;
}

#marketCharts{
    width: 200px;
    height: 40px;
    position: relative;
}

.badge{
    width: 35px!important;
    height: 20px!important;
    line-height: 16px!important;
}

.offer-management .board-item table td.table_board_direction button.badge{
    background-color: #3b4145;
}

.offer-management .board-item .board-body{
    margin: 0px;
}

.offer-management .board-item table td .add{
    color: #ffebc8;
}

.alliance-offer-management .board-list{
    padding: 0px;
}