body {
    background-color: #0e0f11;
    font-family: 'Microsoft Yahei';
}

.tabs-view {
    margin-top: 2px;
}

.filter-view {
    background: #141A18;
    padding: 10px 15px;
}

    .filter-view .option {
        cursor: pointer;
        padding: 2px 15px;
        font-size: 14px;
        line-height: 1;
        border-radius: 10px;
        color: #FFEBC8;
        margin: 0 5px;
        white-space: nowrap;
    }

        .filter-view .option.selected {
            background: #FB8D02;
            color: #0e0f11;
        }

    .filter-view .filter-list {
        margin: 5px 0;
    }

.filter-type {
    font-size: 12px;
    color: #eeeeee;
}

    .filter-type:before {
        content: '';
        position: relative;
        top: -2px;
        width: 4px;
        height: 12px;
        background: #cccccc;
        border-radius: 4px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
    }

[matrix-table] table {
    background: #101918;
    color: #FFEBC8;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-color: #005e5f;
}

    [matrix-table] table tr:nth-of-type(even) {
        background: #14211E;
    }

    [matrix-table] table tr td {
        cursor: pointer;
        border-color: #005e5f;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding: 4px;
    }

        [matrix-table] table tr td.hover {
            background: #112c28;
        }

        [matrix-table] table tr td.selected {
            background: #FB8D02;
            color: #0e0f11;
            border-radius: 4px;
            border-top: 1px solid #141A18;
            border-bottom: 1px solid #141A18;
        }

        [matrix-table] table tr td:hover {
            border-radius: 4px;
            color: #F9C66E;
            background: #124f47;
        }

    [matrix-table] table tr:first-child td {
        border-top: none;
    }

    [matrix-table] table tr:last-child td {
        border-bottom: none;
    }

.table-view {
    padding: 4px;
}

    .table-view a.btn {
        background: #002c2c;
    }

        .table-view a.btn:hover,
        .table-view a.btn:active,
        .table-view a.btn:focus,
        .table-view a.btn.active {
            color: black;
            background: #FB8D02;
        }

.checkbox-inline {
    color: #f2f2f2;
}

    .checkbox-inline div[class^=icheckbox] {
        margin-right: 5px;
    }

.tooltip-inner {
    word-wrap: break-word;
}

.ui-grid {
    border: none;
}

    .ui-grid .ui-grid-header {
        border-bottom: 1px solid #40544d;
    }

    .ui-grid .ui-grid-top-panel {
        background: #0e0f11;
        color: #d9d9d9;
    }

        .ui-grid .ui-grid-top-panel .ui-grid-header-cell {
            border: none;
        }

            .ui-grid .ui-grid-top-panel .ui-grid-header-cell .ui-grid-cell-contents {
                position: relative;
                outline: none;
            }

    .ui-grid .ui-grid-row:nth-child(odd) .ui-grid-cell {
        background-color: #101918;
    }

    .ui-grid .ui-grid-row:nth-child(even) .ui-grid-cell {
        background-color: #14211E;
    }

    .ui-grid .ui-grid-row .ui-grid-cell {
        overflow: visible;
        border: none;
        color: #F9C66E;
        line-height: 30px;
    }

        .ui-grid .ui-grid-row .ui-grid-cell.warning {
            background: #FB8D02;
            color: #0e0f11;
        }

        .ui-grid .ui-grid-row .ui-grid-cell.inactive {
            background: #1a1b1f;
            color: #808080;
            position: relative;
        }

            .ui-grid .ui-grid-row .ui-grid-cell.inactive .badge {
                background: #808080;
            }

        .ui-grid .ui-grid-row .ui-grid-cell .ui-grid-cell-contents {
            overflow: visible;
        }

            .ui-grid .ui-grid-row .ui-grid-cell .ui-grid-cell-contents .text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .ui-grid .ui-grid-row .ui-grid-cell .ui-grid-cell-contents .name {
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

    .ui-grid .ui-grid-column-menu-button {
        display: none;
    }

    .ui-grid .ui-grid-menu .ui-grid-menu-inner {
        background: #2a3733;
        border: none;
        color: #e6e6e6;
    }

        .ui-grid .ui-grid-menu .ui-grid-menu-inner ul li button {
            border-bottom-color: #141A18;
        }

        .ui-grid .ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-item-active {
            background-color: #005e5f;
        }

    .ui-grid .redText {
        color: #990000;
        font-weight: bold;
    }

.qm-logo {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-filter: grayscale(0.8);
    filter: grayscale(0.8);
    cursor: pointer;
}

    .qm-logo.active {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

.qq-logo {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.dropdown-menu .drop-header {
    color: #e6e6e6;
    margin-left: 10px;
}

.glyphicon.btn-icon {
    cursor: pointer;
    color: #FFEBC8;
}

    .glyphicon.btn-icon:hover {
        color: #e6e6e6;
    }

.area-modal .area-item {
    padding-left: 0px;
    margin-left: 0;
    margin: 10px;
}

.contact-modal .content-body {
    padding: 0 15px;
}

    .contact-modal .content-body .contact-item {
        padding: 8px 20px;
        background: #354540;
        margin: 8px 0;
    }
        .contact-modal .content-body .contact-item .col-sm-6{
            white-space: nowrap;
        }

.bootbox-modal .content-body {
    padding: 50px 15px;
    word-wrap: break-word;
    white-space: pre-line;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editable .text,
editable-input span {
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editable input,
editable-input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #0e0f11;
    padding-left: 10px;
    background-color: #FB8D02;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

    ::-webkit-scrollbar:hover {
        background-color: rgba(0, 0, 0, 0.09);
    }

::-webkit-scrollbar-thumb:vertical {
    background: #2a3733;
    -webkit-border-radius: 100px;
}

    ::-webkit-scrollbar-thumb:vertical:active {
        background: #2a3733;
        -webkit-border-radius: 100px;
    }

::-webkit-scrollbar-thumb:horizontal {
    background: #2a3733;
    -webkit-border-radius: 100px;
}

    ::-webkit-scrollbar-thumb:horizontal:active {
        background: #2a3733;
        -webkit-border-radius: 100px;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-input-placeholder {
    color: #0e0f11;
}

.input-sm {
    width: 100px;
    display: inline-block;
}

.input-md {
    width: 200px;
    display: inline-block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.m-right10 {
    margin-right: 10px;
}

.vmiddle {
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

button,
.btn,
[role=button] {
    outline: none;
}

.loading {
    position: relative;
    height: 580px;
    background: rgba(0, 0, 0, 0.5);
}

    .loading.matrix-loading {
        height: 177px;
    }

    .loading .spinner {
        position: absolute;
        top: 50%;
        margin-top: -25px;
        margin-left: -25px;
        left: 50%;
        animation: rotateit 1.2s linear infinite;
    }

@keyframes rotateit {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.back-to-top {
    position: absolute;
    padding: 10px 100px;
    color: #F9C66E;
    background: #03896d;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, 30px);
    cursor: pointer;
}

.search-group input {
    background: #6b6e4a;
    outline: none;
    border: none;
    color: #e6e6e6;
    margin-right: 10px;
}

.dropdown-menu.search-result {
    width: 200px;
}

    .dropdown-menu.search-result li a {
        white-space: normal;
    }

.tipclose {
    margin-top: 2px;
    position: relative;
    background-image: url('../img/search_clean_normal.png');
    color: #FEFEFE;
    font-size: 18px;
    width: 16px;
    height: 16px;
    float: right;
    margin-right: 10px;
}

    .tipclose:hover {
        margin-top: 2px;
        position: relative;
        background-image: url('../img/search_clean_hover.png');
        color: #FEFEFE;
        font-size: 18px;
        width: 16px;
        height: 16px;
        float: right;
        margin-right: 10px;
    }

/*****************************************************************************************************************/
/* Metro UI */
/*****************************************************************************************************************/

.input-control.checkbox input[type=radio]:checked ~ .check:before, .input-control.checkbox input[type=checkbox]:checked ~ .check:before, .input-control.radio input[type=radio]:checked ~ .check:before, .input-control.radio input[type=checkbox]:checked ~ .check:before {
    border-color: white;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.input-control.checkbox .check:before, .input-control.radio .check:before {
    height: 0.525rem;
    width: 0.89rem;
    margin-left: -.425rem;
}

.input-control input, .input-control select, .input-control textarea {
    border: none;
}

.offer-confirm-modal .modal-body{
    background: #2a3733;
}
.offer-confirm-modal .modal-body table>tbody{
    border:1px solid #2a3733;
}