<div class="alliance_add_quote" dragable>
    <div ng-if="vm.allianceList" class="modal-header">
        添加报价
        <button class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div ng-if="vm.allianceList" class="modal-body">

        <div class="input-control text" data-role="input">
            <button class="button"><span class="mif-search"></span></button>
            <input style="padding-right: 0 !important; padding-left: 43px;" type="text" ng-model="vm.search" placeholder="机构、常用联系人">
        </div>

        <ul class="add_quote" ng-click="onClickAlliance()">
            <li ng-repeat="item in vm.allianceList | filter: vm.searchFilter">
                <label class="input-control checkbox">
                    <input type="checkbox" ng-model="item.isSelected">
                    <span class="check"></span>
                    <span class="caption" ng-bind="item.displayName"></span>
                    <span ng-show="item.isQuoted" class="caption_right caption_middle pull-right">已报价</span>
                    <span ng-show="!item.isQuoted" class="caption_right caption_middle pull-right" style="width:50px;height:19px;"></span>
                    <button class="caption_right pull-right" ng-click="selectContact(item)" ng-if="item.institutionContactsName">{{item.institutionContactsName}}</button>
                    <button class="caption_right pull-right" style="color: #999;" ng-click="selectContact(item)" ng-if="!item.institutionContactsName">请选择</button>
                </label>
            </li>
        </ul>

        <div class="row_spilt"></div>

        <div class="button-group">
            <div><span ng-bind-template="已选{{selectedCount}}个机构"></span></div>
            <div><button class="btn btn-primary btn-sm  pull-right" ng-click="addQuote()" ng-disabled="isLocked">确定</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div ng-if="vm.brotherAllianceList" class="modal-header">
        所属同盟机构成员
        <button class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    </div>

    <div ng-if="vm.brotherAllianceList" class="modal-body">

        <ul>
            <li ng-repeat="item in vm.brotherAllianceList">
                <label class="input-control checkbox">
                    <input type="checkbox" ng-model="item.isSelected">
                    <span class="caption" ng-bind="item.displayName"></span>
                </label>
            </li>
        </ul>

        <div class="row_spilt"></div>

        <div class="button-group">
            <div>
                <button class="btn btn-primary btn-sm  pull-right" ng-click="addQuote()">确定</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>