<div class="alliance_add_quote" dragable>
    <div class="modal-header">
        编辑联系人
        <button class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="btn-group-out btn-contact">
            <div class="btn-group btn-contact" uib-dropdown>
                <div class="dropdown-contact" uib-dropdown-toggle>
                    <button id="split-button" type="button" class="btn btn-primary btn-drop-left">{{contactName}}</button>
                    <button type="button" class="btn btn-primary btn-drop-right">
                        <span class="caret"></span>
                        <span class="sr-only"></span>
                    </button>
                </div>

                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                    <div class="input-control text" data-role="input" ng-click="bubble($event)">
                        <button class="button"><span class="mif-search"></span></button>
                        <input style="padding-right: 0 !important; padding-left: 43px;" type="text" ng-model="contactFilter" placeholder="联系人">
                    </div>
                    <li role="menuitem" ng-repeat="item in contactsList | filter: contactFilter" ng-click="select(item)"><a href="#">{{item.displayName}}</a></li>
                </ul>
            </div>
        </div>

        <div class="button-group btn-contact">
            <button class="btn btn-primary btn-sm btn-confirm" ng-click="addContact()">确定</button>
            <button class="btn btn-primary btn-sm" ng-click="cancel()">取消</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>