<div class="offer-management" dragable>
    <div class="modal-header">
        报价单
        <button class="close" data-dismiss="modal" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="type-list">
            <ul class="nav nav-tabs" >
                <li ng-repeat="item in vm.typeList" ng-click="vm.onClickQuoteType($event,item)" class="uib-tab nav-item ng-isolate-scope" ng-class="{active: item.enum === vm.selectType.enum}">
                    <a class="nav-link ng-binding" ng-bind="item.name" tag="{{item.enum}}"></a>
                </li>
            </ul>
        </div>
        <div class="content-body">
            <!--<div class="type-list text-center">
                <span ng-repeat="item in vm.typeList" class="type-item" ng-class="{'selected':item.selected}"
                      ng-bind="item.name" ng-click="vm.selectType(item)"></span>
            </div>-->
            <div class="board-list">
                <span class="warning">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    报期限，不报价格时，请留白。
                </span>
                <div class="board-item" ng-repeat="board in vm.selectedTypeList | filter: vm.boardListFilter | orderBy: 'seqNo'">
                    <div class="board-header">
                        <span class="board-close" ng-click="vm.deleteType(board)">&times;</span>
                        {{board.type.name}}
                    </div>
                    <div class="board-body">
                        <table class="table">
                            <tbody ng-keydown="vm.onKeydownTable($event)">
                            <tr>
                                <td width="8%" align="right">方向</td>
                                <td class="table_board_direction" colspan="9" ng-click="vm.onClickBoardDirection($event, board)">
                                    <button class="badge" ng-class="{'IN':board.boardDir.value===vm.boardDirectionList[1].value}" ng-bind="vm.boardDirectionList[1].displayName" ></button>
                                    <button class="badge" ng-class="{'OUT':board.boardDir.value===vm.boardDirectionList[0].value}" ng-bind="vm.boardDirectionList[0].displayName" ></button>
                                </td>
                            </tr>
                            <tr>
                                <td width="8%" align="right">期限</td>
                                <td width="110" class="board-period" ng-repeat="period in board.periodList | filter: vm.periodFilter">
                                    <span class="close" ng-click="vm.deletePeriod(board, period)">&times;</span>{{period.period}}
                                </td>
                                <td width="110" class="board-period" ng-repeat="item in board.spaceList">
                                    <span ng-if="$first" class="add" uib-dropdown uib-dropdown-toggle>
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <ul class="dropdown-menu" uib-dropdown-menu>
                                            <li ng-repeat="item in board.spaceList"><a ng-click="vm.addPeriod(board,item)">{{item.period}}</a></li>
                                        </ul>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">价格(%)</td>
                                <td ng-repeat="period in board.periodList | filter: vm.periodFilter" class="editable autofocuse" price ng-model="period.value" tabindex="{{period.tabIndex}}"></td>
                                <td ng-repeat="item in board.spaceList" class="space"></td>
                            </tr>
                            <tr ng-if="board.showAmount">
                                <td align="right">数量(万)</td>
                                <td ng-repeat="period in board.periodList | filter: vm.periodFilter" class="editable" amount ng-model="period.amount" tabindex="{{period.tabIndex + 1}}"></td>
                                <td ng-repeat="item in board.spaceList" class="space"></td>
                            </tr>
                            <tr>
                                <td align="right">备注</td>
                                <td colspan="9" align="left" class="editable autofocuse" remark ng-model="board.remark" tabindex="{{board.periodList.length * 2 }}">可输入备注信息</td>
                            </tr>
                            <tr ng-if="board.featureList && board.type.enum !== 'IBD'">
                                <td align="right">特征</td>
                                <td colspan="9" align="left" class="table_board_direction" ng-model="board.featureList">
                                    <button ng-click="vm.setFeature(feature,board)" class="btn tag-button" ng-class="{'IN':feature.selected === true}" ng-repeat="feature in board.featureList">{{feature.tagName}}</button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="9" align="left">
                                    <span ng-if="!board.showAmount"><a class="show-number" ng-click="vm.showAmount(board)">显示数量</a></span>
                                    <span ng-if="board.showAmount"><a class="show-number" ng-click="vm.hideAmount(board)">隐藏数量</a></span>
                                    <input ng-if="board.type.name!==vm.typeList[0].name" class="expired_date" type="text" value="" input-limit="int" ng-model="board.expiredDate" ng-change="vm.onChangedExpiredDate($event, board)"/>
                                    <span ng-if="board.type.name!==vm.typeList[0].name" class="expired_date_label">天后自动撤销</span>
                                    <span ng-if="board.type.name!==vm.typeList[0].name" class="expired_date_value_label" ng-bind-template="(撤销时间：{{board.expiredDateString}})"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="button-group-add-board">
            <button ng-click="vm.onClickAddQuote()"><span class="mif-plus button-group-add-board"></span> 添加一组报价</button>
        </div>

        <div class="button-group modal-botton">
            <button class="btn btn-primary btn-sm" ng-click="vm.save()">确定</button>
            <button class="btn btn-primary btn-sm" ng-click="vm.cancel()">取消</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>