<div class="offer-confirm-modal" dragable>
	<div class="modal-header">
		<span>确认您的报价：</span>
		<!-- <span ng-if="vm.type=='confirm'">{{vm.bodyText.title}}</span> -->
		<button class="close" data-dismiss="modal" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
	</div> 
	<div class="modal-body">
		<div ng-if="vm.offerData" class="content-body text-center">
			<div class="table-responsive">
				<table class="table">
					<tbody ng-repeat="typeList in vm.offerData">
						<tr ng-repeat="offer in typeList.periodList">
							<td>{{typeList.type.name}}</td>
							<td>{{offer.period}}</td>
							<td><span ng-if="offer.amount">{{offer.amount}}万</span> <span ng-if="!offer.amount">-</span></td>
							<td>
                                <span ng-if="offer.value">{{offer.value}}%</span>
                                <span ng-if="!offer.value && typeList.boardDir.value === 'IN'">BID</span>
                                <span ng-if="!offer.value && typeList.boardDir.value === 'OUT'">OFR</span>
                            </td>
							<td class="ellipsis offer-confirm-modal-remark">
                                <span ng-repeat="tag in typeList.tagName">{{tag.tagName}}<span ng-if="!$last || $last&&typeList.remark">，</span></span>
                                <span>{{typeList.remark}}</span>
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="button-group pull-right">
			<button class="btn btn-primary btn-sm" ng-click="vm.save()">确定</button>
			<button class="btn btn-primary btn-sm" ng-click="vm.cancel()">取消</button>
		</div>
		<div class="clearfix"></div>
	</div>
</div>