<!doctype html>
<html lang="en" ng-app="moneyMarketApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>市场动态分析</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app/commons/style/change.css" />
</head>
<body class="market-body" ng-controller="marketController as vm" ng-cloak>
    <div class="market-tabs">
        <ul ng-click="vm.tabChange($event)">
            <li class="pointer inner" ng-class="{'active':vm.state === 'inner'}">同业理财</li>
            <li class="pointer offline" ng-class="{'active':vm.state === 'offline'}">同业存款</li>
        </ul>
    </div>
    <div class="market-filter-view">
        <div class="pull-left market-filter-list">
            <span class="pull-left market-filter-type">方向：</span>
            <div burying="MarketAnalysis.FilterDirection,{{item.name}}" class="pull-left market-filter-options inline pointer" ng-class="{'selected':item.selected}" ng-repeat="item in vm.boardDirection" ng-click="vm.changeDirection($event,item)" ng-bind="item.name"></div>
        </div>
        <div class="pull-left market-filter-list" ng-if="vm.state === 'inner'">
            <span class="pull-left market-filter-type">类型：</span>
            <div burying="MarketAnalysis.FilterTypes,{{item.name}}" class="pull-left market-filter-options inline pointer" ng-class="{'selected':item.selected}" ng-repeat="item in vm.quoteTypeList" ng-click="vm.changeType($event,item)" ng-bind="item.name"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="market-matrix">
        <table width="100%">
            <tr>
                <th ng-repeat="header in vm.FIperiodList" ng-if="vm.state === 'inner'" ng-bind="header.name"></th>
                <th ng-repeat="header in vm.CDperiodList" ng-if="vm.state === 'offline'" ng-bind="header.name"></th>
            </tr>
            <tr ng-repeat="item in vm.matrixData">
                <td ng-bind="item.displayName"></td>
                <td burying="MarketAnalysis.ClickMatrix,{{vm.rowName + '|' + vm.colName}}" class="matrix-data" ng-class="{'selected':period.isSelected}" ng-repeat="period in item.rowDtoList" ng-click="vm.matrixClick($event,item,period)">
                    <span ng-if="period.priceLow" ng-bind="period.priceLow"></span>
                    <span ng-if="period.priceLow && period.priceHigh && period.priceHigh !== period.priceLow">-</span>
                    <span ng-if="period.priceHigh && period.priceHigh !== period.priceLow" ng-bind="period.priceHigh"></span>
                </td>
            </tr>
        </table>
        <div class="market-loading" ng-if="!vm.isInit">
            <span class="spinner"><img src="app/commons/img/loading.png"></span>
        </div>
    </div>
    <div >
        <div class="market-title">
            <div class="market-charts-title pull-left" ng-bind="vm.rowName + '，' + vm.colName + ' 收益率区间走势'"></div>
            <div id="marketCharts" class="pull-right"></div>
            <div class="clearfix"></div>
        </div>

        <div id="market-charts" class="market-charts"></div>
    </div>

    <!--libs -->
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-cookies/angular-cookies.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="libs/oclazyload/dist/oclazyload.min.js"></script>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/amcharts/amcharts.js"></script>
    <script src="libs/amcharts/serial.js"></script>
    <script src="libs/amcharts/themes/black.js"></script>
    <!--libs -->
    <!--utility scripts-->
    <script src="app/commons/scripts/ArrayUtils.js"></script>
    <script src="app/commons/scripts/StringUtils.js"></script>
    <script src="app/commons/scripts/DateUtils.js"></script>
    <!--utility scripts-->
    <script src="app/market-analysis/market-analysis.js"></script>
    <!-- config -->
    <script src="config.js"></script>
    <!-- config -->
    <!--directives-->
    <script src="app/commons/directive/burying.directive.js"></script>
    <!--directives-->
    <!--service-->
    <script src="app/commons/service/qb.service.js"></script>
    <script src="app/commons/service/userinfo.service.js"></script>
    <script src="app/commons/service/bootbox/bootbox.service.js"></script>
    <script src="app/market-analysis/market-analysis.service.js"></script>
    <!--service-->
</body>
</html>